<div class="topnav">
  <a class="active" href="#home">CoviTrac</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
  <% @patients.each do |patient| %>
    <div class="booyah-box col-10 offset-1">
    <h1>NAME: <%= patient.name %></h1><br />
    <i>EMAIL: <%= patient.email %></i><br />
    <p>PHONE: <%= patient.phone %></p>
    <p>ADDRESS: <%= patient.address %></p>
    <p>SYMPTOMS: <%= patient.symptoms %></p><br />
    <p>TREATMENT: <%= patient.treatment %></p><br />
    <p>TRAVEL: <%= patient.travel %></p><br />
    <p>STATUS: <%= patient.status %></p><br />
    </div>
  <hr />
<% end %>
